<div class="content-wrapper">
	<div id="map-canvas">
	</div>
	<div id="right-container">
        <div class="search-results">
            <% if @results %>
                <% @results.each do |r| %>
                    <div class="result">   
                        <div class="title"><%= r.name %></div>
                        <div class="desc"><%= r.description %></div>
                    </div>
                <% end %>
            <% end %> 
        </div>
	</div>
</div>


<script>

var zipcode;

<% if !@zip.blank? %>
    zipcode = <%= @zip %>;
<% else %>
    zipcode = 90403;
<% end %>

var markerLocations = <%= raw @locations.to_json %>;

var map;
var mapCenter;
var geo = new google.maps.Geocoder();

google.maps.event.addDomListener(window, 'load', initialize);

function initialize() {

    geo.geocode({'address': zipcode.toString()}, function(results, status) {
        mapCenter = results[0].geometry.location;
    });

    // var ctrLatlng = new google.maps.LatLng(mapCenter.k, mapCenter.B);

    map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 3,
        center: new google.maps.LatLng(29.532, -55.491)
    });

    // map.setCenter(mapCenter);
    // map.setCenter(8);

    for(var i = 0; i < markerLocations.length; i++) {
        var myLatlng = new google.maps.LatLng(markerLocations[i].latitude, markerLocations[i].longitude);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
    }
}

</script>