<div class="content-wrapper">
	<div id="map-canvas">
	</div>
	<div id="right-container">
        <div class="search-results">
            <% @results.each do |r| %>
                <div class="result">   
                    <div class="title"><%= r.name %></div>
                    <div class="desc"><%= r.description %></div>
                </div>
            <% end %> 
        </div>
	</div>
</div>


<script>

// var geocoder;
var map;
// var service;

var zipcode = <%= @zip %>;
var markerLocations = <%= raw @locations.to_json %>;

var mapCenter;
var geo = new google.maps.Geocoder();

google.maps.event.addDomListener(window, 'load', initialize);

function initialize() {

    geo.geocode({'address': zipcode.toString()}, function(results, status) {
        mapCenter = results[0].geometry.location;
    });

    // var ctrLatlng = new google.maps.LatLng(mapCenter.k, mapCenter.B);

    map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 3,
        center: new google.maps.LatLng(29.532, -55.491)

        // geocoder = new google.maps.Geocoder();
        // geocoder.geocode({ 'address': address }, function(results, status) {
        //   if (status == google.maps.GeocoderStatus.OK) {
        //     map.setCenter(results[0].geometry.location);
        //     var marker = new google.maps.Marker({
        //     map: map,
        //     position: results[0].geometry.location
        //   });
        // }}

    });

    // map.setCenter(mapCenter);
    // map.setCenter(8);

    for(var i = 0; i < markerLocations.length; i++) {
        var myLatlng = new google.maps.LatLng(markerLocations[i].latitude, markerLocations[i].longitude);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
        });
    }

    
    // Set focus to address field
    // document.getElementById("zip").focus();

    // Bind click event listener for search button that renders a zip code view
    // document.getElementById("search").addEventListener('click', codeAddress, false);

    // Bind click event listener for search button that performs the equipment search
    // document.getElementById("search").addEventListener('click', performSearch, false);

    // Bind key-up event listener for address field
    // document.getElementById("zip").addEventListener('keyup', function (event) {

    //     // Check the event key code
    //     if (event.keyCode == 13) {

    //         // Key code 13 == Enter key was pressed (and released)
    //         // codeAddress();
    //         performSearch();
    //         handleSearchResults();
    //     }
    // });

    // service = new google.maps.places.PlacesService(map);

}

function handleSearchResults(results, status) {

    console.log(results);
    for(var i = 0; i < results.length; i++) {
        var marker = new google.maps.Marker({
            position: results[i].geometry.location,
            map: map
        });
    }

}

// function performSearch() {
//     var equipment = document.getElementById("equipment").value;
//     var request = {
//         bounds: map.getBounds(),
//         name: equipment
//     }
//     service.nearbySearch(request, handleSearchResults);
//     google.maps.event.addListenerOnce(map, 'bounds_changed', performSearch);
// }

// function codeAddress() {
//     var address = document.getElementById("address").value;
//     geocoder.geocode({
//         'address': address, "componentRestrictions":{"country":"US"}
//     }, function (results, status) {
//         if (status == google.maps.GeocoderStatus.OK) {
//             map.setCenter(results[0].geometry.location);
//             map.setZoom(12);
//             var marker = new google.maps.Marker({
//                 map: map,
//                 position: results[0].geometry.location
//             });
//         } else {
//             alert("Geocode was not successful for the following reason: " + status);
//         }
//     });
// }

</script>