// Place all the styles related to the equipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.equip-background {
	background-color: #ffbb37;
	padding-top: 20px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

// These deal with the NEW and EDIT views

.left-side {
  float: left;
  width: 40%;
  height: 400px;
  display: inline-block;
}

.equip-image {
	position: relative;
	width: 70%;
	height: 300px;
	background-color: #5cb85c;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 3px;
}

.right-side {
  width: 60%;
  height: 400px;
  display: inline-block;
}

.right-side a {
	float: right;
	margin-top: 30px;
	margin-right: 10px;
	font-size: 16px;
}

h1 {
	font-family: "Helvetica Neue";
}

.right-side input {
	margin-bottom: 10px;
	height: 40px;
	width: 200px;
	border: none;
	border-radius: 3px;
	padding: 0px 5px;
	font-size: 20px;
}

.right-side textarea {
	margin-bottom: 10px;
	height: 120px;
	width: 75%;
	max-width: 75%;
	border: none;
	border-radius: 3px;
	padding: 0px 5px;
	font-size: 20px;
}

.right-side .btn-lg {
	height: 45px;
	margin-bottom: 80px;
}

// These deal with the INDEX view

.equip-listing {
  width: 90%;
  min-height: 140px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 3px;
}

.equip-thumb {
	width: 100px;
	height: 100px;
	background-color: #5cb85c;
	float: left;
	margin: 10px;
}

.equip-listing h2 {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 2px;
}

.equip-listing h3 {
	display: inline-block;
	float: right;
	font-size: 22px;
	margin-right: 10px;
	margin-top: 10px;
}

.equip-listing form {
	display: inline-block;
}


