.jumbotron {
 	// background-color: #ffbb37;
 	background-image: url('dog.jpg');
 	background-image: no-repeat;
 	background-size: cover;
 	text-align: center;
 	padding: 10%;
 }

 .jumbotron h3{
 	color: white;
 }

 .homepage-header {
 	text-align: center;
 	font-size: 1em;
 	margin: 5px;
 	border: 10px;
 	padding: 10px;
 	color: white;
 }

 .mooch-header, h3 {
 	font-size: 40px;	
 	padding: 10px, 30px;
 }

 //Form Fields

 #name {
 	margin: 1px;
 	height: 50px;
 	width: 200px;
 	padding: 10px;
 
 }
 
 #zip {
 	margin: 1px;
 	height: 50px;
 	width: 100px;
 	padding: 10px;
 }

 #start_date {
 	margin: 1px;
 	height: 50px;
 	width: 150px;
 	padding: 5px;
 }

 #end_date {
 	margin: 1px;
 	height: 50px;
 	width: 150px;
 	padding: 5px;
 }

 #submit {
 	height: 60px;
 }

.caption h3 {
	text-align: center;
}

////////// Icon Boxes //////////////

.row {
	margin: 10px;
}

.row h3 {
	font-size: 3em;
}

.thumbnail {
border: none;
}

.hank {
	height: 10px;
	width: 10px;
}

img.thumb-icon {
	width: 400px;
	height: 200px;
}

//////// 3 step process ///////////

.steps {
	background-color: brown;
	padding: 40px;
	text-align: center;
	margin: 10px;
	color: white;
}











