.jumbotron {
 	background-color: #ffbb37;
 	text-align: center;
 	color: grey;
 	padding: 5%;
 }

 .homepage-header {
 	text-align: center;
 	font-size: 1em;
 	margin: 5px;
 	border: 10px;
 	padding: 10px;
 }

 ///////// Form Fields //////////

 #name {
 	margin: 5px;
 	height: 50px;
 	width: 300px;
 	padding: 10px;
 
 }

 #zip {
 	margin: -10px;
 	height: 50px;
 	width: 150px;
 	padding: 10px;
 }

 #start_date {
 	margin: -10px;
 	height: 50px;
 	width: 200px;
 	padding: 10px;
 }

 #end_date {
 	margin: 10,10,10, -8px;
 	height: 50px;
 	width: 200px;
 }

