// Styling for the RESULTS page

.content-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	margin-top: -90px;
	z-index: -1;
}

#map-canvas {
	height: 88.5%;
	width: 39%;
	float: left;
	position: relative	;
	display: inline-block;
	margin-top: 90px;
  border-right: 4px solid grey;
}

#right-container {
	height: 88.5%;
	width: 61%;
	position: relative;
	display: inline-block;
	margin-top: 90px;	
	overflow-y: auto;
	padding-bottom: 10px;
}

.result {
	width: 96%;
	display: inline-block;
	float: left;
	background-color: #eee;
	margin-left: 1.5%;
	margin-top: 15px;
	border-radius: 5px;
}

.title {
	font-size: 22px;
	font-family: "Helvetica Neue";
	padding-top: 5px;
	padding-left: 7px;
}

.desc {
	padding: 0 7px;
}


// Media Queries
@media (max-width: 982px) {
	#map-canvas {
		width: 100%;
		height: 300px;
		border-right: none;
	}

	#right-container {
		width: 100%;
		margin-top: -20px;
	}
}