<!DOCTYPE html>
<html>
<head>
  <title>Moochify</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhRkF2blpTUciRi_tgluc7BpjSuGN19Mc">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
